@import '../base/variables';

.folder {
  text-align: center;
  width: 86px;
  margin: 10px;
  padding-top: 10px;
  cursor: pointer;

  &__icon {
    position: relative;
    display: block;
    background-color: $folder-yellow;
    width: 50px;
    height: 35px;
    margin: 0 auto;
    border-radius: 3px;
    border: $border-standard;

    &::before {
      content: '';
      position: absolute;
      top: -9px;
      left: 0px;
      right: 0;
      width: 28%;
      border-bottom: 9px solid $black;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
    }

    &::after {
      content: '';
      position: absolute;
      top: -7px;
      left: 4px;
      right: 0;
      width: 28%;
      border-bottom: 5px solid $folder-yellow;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }

  &__title {
    display: inline-block;
    margin: 5px 0;
    color: $white;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
}
