@import '../base/variables';

.menu-item {
  position: relative;
  display: block;
  line-height: 50px;
  margin: 5px;
  padding-right: 10px;
  color: $black;
  font-weight: 700;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $navy-blue;
    color: $white;
  }

  &--submenu {
    margin: 2px;
    line-height: 30px;
  }

  &--has-arrow {
    &::after {
      content: '';
      position: absolute;
      top: 20px;
      right: 8px;
      width: 0; 
      height: 0; 
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $black;
    }

    &:hover,
    &:focus {
      &::after {
        border-left: 5px solid $white;
      }
    }
  }

  &__title {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 4px;
      height: 1px;
      width: 8px;
      background-color: $black;
    }
  }

  &__icon {
    vertical-align: middle;

    &--submenu {
      width: 30px;
      height: auto;
    }
  }
}