@import '../base/variables';
@import '../base/buttons';

.project {
  height: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;

  @media (min-width: $md) {
    height: calc(100% - 30px);
    padding-bottom: 0;
  }

  &__inner-wrapper {
    display: block;
    margin: 12px;
    font-family: arial, sans-serif;
  }

  &__image-wrapper {
    display: block;
    max-width: 300px;
    margin: 0 auto 15px auto;

    @media (min-width: $md) {
      display: inline-block;
      width: 50%;
      margin-bottom: 0;
      max-width: none;
    }
  }
  &__dates {
    float: right;
    display: block;
    max-width: 300px;
    margin: 0 auto 15px auto;
    text-align: right;

    @media (min-width: $md) {
      display: inline-block;
      width: 50%;
      margin-bottom: 0;
      max-width: none;
    }
  }

  &__image-inner-wrapper {
    margin-bottom: 10px;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &--portrait {
      display: inline-block;
      width: calc(50% - 5px);
      margin-bottom: 0;

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  &__info-wrapper {
    display: inline-block;
    vertical-align: top;

    @media (min-width: $md) {
      margin-top: 20px;
    }
  }

  &__info {
    margin: 10px 0;

    &:first-child {
      @media (min-width: $md) {
        margin-top: 0;
      }
    }
  }

  &__info-title {
    display: inline-block;
    font-weight: bold;

    &--has-margin {
      margin-bottom: 3px;
    }
  }

  &__info-item {
    margin-bottom: 5px;

    &:first-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @extend %link-button;
    font-size: 1.4rem;
  }
}
