@import '../base/buttons';
@import '../base/variables';

.startbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $submarine-grey;
  font-size: 1.3rem;
  height: 30px;
  padding: 2px;
  border-top: $border-white;
  z-index: 10;

  &__button,
  &__button:hover {
    @extend %button;
    height: 25px;
    padding: 0 2px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 14px;
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px black;
    min-width: 62px;

    &--active,
    &--active:hover {
      border-top: inset 2px black;
      border-left: inset 2px black;
      border-bottom: inset 2px white;
      border-right: inset 2px white;
    }
  }

  &__button-icon {
    margin: 3px 0;
    vertical-align: bottom;
  }

  &__button-text {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
  }
}
