@import '../base/variables';

.window-title {
  position: relative;
  display: block;

  &__heading {
    display: block;
    background-color: $navy-blue;
    color: $white;
    padding: 0 2px;
    letter-spacing: 0.5px;
    line-height: 17px;
    height: 20px;
    border: $border-standard;
    font-weight: 700;
  }
}
