@import './variables';

%button {
  border: $border-standard;
  background-color: $submarine-grey;

  &:hover,
  &:focus,
  &:active {
    border: $border-active;
  }
}

%link-button {
  @extend %button;
  display: inline-block;
  margin-top: 10px;
  padding: 5px 5px;

  @media (min-width: $md) {
    margin-top: 20px;
  }
}
