* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  background-color: #5ea8a8;
  font-family: 'Overpass', sans-serif;
}

.root {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}
