/* ===== Colours ===== */
$aquamarine: #5ea8a8;
$folder-yellow: #e0e348;
$navy-blue: #000086;
$thatch-green: #4f4c1e;

$black: #000;
$white: #fff;

$submarine-grey: #c0c7c8;
$boulder-grey: #7a7a7a;

/* ===== Borders ===== */
$border-standard: 2px solid $black;
$border-white: 2px solid $white;
$border-active: 2px solid $boulder-grey;

/* ===== Breakpoints ===== */
$md: 540px;
